form {
  margin: 2rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.searchForm {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 30px;
  padding: 0.25rem;
  width: 50%;
}

.searchBar {
  flex: 1;
  height: 3rem;
  border: none;
  border-radius: 25px;
  background: transparent;
  color: white;
  padding: 0 1rem;
  border: 1px solid #5a5959;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.searchButton {
  background-color: #17a348;
  border-radius: 20px;
  padding: 0 1.25rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  color: green;
}

.searchButton:hover {
  background-color: #1ed760;
  color: white;
  transition: all 0.1s ease;
}

.searchButton:active {
  transform: scale(0.97);
}
