.searchForm {
  margin: 2rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.searchBar {
  height: 3rem;
  border: none;
  height: 8vh;
  width: 50%;
  border-radius: 25px;
  background: #1e1e24;
  color: white;
  padding: 0 1rem;
  border: 1px solid #5a5959;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
  color: white;
}

.searchButton {
  background-color: #1db954;
  border-radius: 20px;
  padding: 0 1.25rem;
  height: 5vh;
  margin-left: 0.5rem;
  color: black;
}

.searchButton:hover {
  background-color: #1ed760;
  color: white;
  transition: all 0.1s ease;
}

.searchButton:active {
  transform: scale(0.97);
}
