.grid {
  display: grid;
  grid-auto-rows: min-content; /* shrink to content */
  align-content: start;
  margin: 0;
  width: 100%;
}

.submitButton {
  background-color: #1ed760;
  border-radius: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: none;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
}

.icon {
  height: 10rem;
  width: auto;
  display: flex;
  justify-self: center;
  margin: 1rem;
}

.helperText {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #b3b3b3; /* light gray */
  text-align: center;
}
