* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #090b0e;
  color: #b3b3b3;
  padding: 1rem 2rem;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2 {
  color: #ffffff;
}

.contentContainer {
  display: grid;
  grid-template-columns: 360px 1fr 1fr; /* left list + right playlist panel */
  gap: 1rem;
}

.panelContainer {
  background-color: #181818;
  width: 45%;
  height: 75vh;
  border: 1px solid #5a5959;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.panelContainer li {
  background-color: #1e1e1e;
  border-radius: 20px;
  height: 8rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}

::placeholder {
  color: grey;
}

.permissionBox {
  background-color: green;
}

#root {
  padding-bottom: 5rem;
}
